<div class="about-header">
<h1 class="about-title">Relieve your favorite memories</h1>
</div>
<div class="supporting-section">
    <h2>No more sorting through photos</h2>
    <p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
    <%= button_tag "Signup", type:"button", class:"btn btn-lg btn-info"%>
</div>