<main>
    <header class="create-stories-header">
    <i class="fa fa-bars menu-icon" aria-hidden="true"></i>
    <div class="menu-sidebar">
        <i class="fa fa-times close-icon" aria-hidden="true"></i>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="header-content">
    <p>Create and share Stories</p>
    <%= button_tag "Learn More", type: 'button', class: 'btn btn-info'%>
    </div>
 </header>  
  <div class="supporting-section">
        <h2>Relieve and share your adventures</h2>
        <p>Stories automatically creates a digital journal filled with only your best photos</p>
    </div>
    <div class="secondary-section">
    
    </div>
    <div class="discover">
        <h2>Discover stories</h2>
        <%= button_tag 'Discover stories', type: 'button', class: 'btn btn-info'%>
    </div>

</main>