<main>
    <header class="create-stories-header">
    <div class="header-content">
    <p>Create and share Stories</p>
    <%= button_tag  type: 'button', class: 'btn btn-info' do %>
        <%link_to "Learn More", about_path%>
    <%end%>
    </div>
 </header>  
  <div class="supporting-section">
        <h2>Relieve and share your adventures</h2>
        <p>Stories automatically creates a digital journal filled with only your best photos</p>
    </div>
    <div class="secondary-section">
    
    </div>
    <div class="discover">
        <h2>Discover stories</h2>
        <%= button_tag  type: 'button', class: 'btn btn-info' do %>
        <%link_to "Learn More", about_path%>
        <%end%>
    </div>

</main>