<main>
    <header class="create-stories-header">
    <div class="header-content">
    <p>Create and share Stories</p>
    <%= button_tag "Learn More", type: 'button', class: 'btn btn-success'%>
    </div>
</header>
</main>