<main>
    <header class="create-stories-header">
    <i class="fa fa-bars menu-icon" aria-hidden="true"></i>
    <div class="menu-sidebar">
        <i class="fa fa-times close-icon" aria-hidden="true"></i>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </div>
    <div class="header-content">
    <p>Create and share Stories</p>
    <%= button_tag "Learn More", type: 'button', class: 'btn btn-success'%>
    </div>
</header>
</main>